@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your privacy and personal information is held secred by the system.All accounts on this system are secured through password encrytion via password hashing.</p>
