@model Library_Management_System.Models.LibraryDisposalVM

@{
    ViewData["Title"] = "Create";
}

<h4>Add Library Disposal Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisposalCode" class="control-label"></label>
                <input asp-for="DisposalCode" class="form-control" />
                <span asp-validation-for="DisposalCode" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MethodOfDisposal" class="control-label"></label>
                <input asp-for="MethodOfDisposal" class="form-control" />
                <span asp-validation-for="MethodOfDisposal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfDisposal" class="control-label"></label>
                <input asp-for="DateOfDisposal" class="form-control" />
                <span asp-validation-for="DateOfDisposal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
